.div-screen-container{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89.5vh;
  }

.div-form{
    border-radius: 10px;
    width: 500px;
    background-color: white;
}
.div-header{
    border-radius: 10px 10px 0 0;
    background-color: #3f51b5;
    color: white;
    padding: 10px;
}

/* .div-btn-new{

} */
  
.div-container{
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.div-content-input {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}

.div-content-mes {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}

.input-group {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
  
.label {
    font-weight: bold;
    margin-right: 10px;
    width: 30%;
}
  
.divEmpleado{
    width: 20%;
}

.divDatos{
    width: 80%;
}

.selectEmpleado{
    width: 100%;
}

.sueldo-container {
    margin-top: 10px;
    width: 100%;
    min-width: 10%;
    justify-content:flex-start;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

.button-new{
    background-color: #4CAF50;
    border: 0;
    border-radius: 2%;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.button-new:hover {
    background-color: #45a049;
}

.columns-container-sueldo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}
  
.column {
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.rowMonto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: right;
}

.total-row {
    font-weight: bold;
}

.align-right {
    justify-content: flex-end;
}