<div class="div-screen-container">
    <div class="div-form" *ngIf="mostrarPantalla">
        <div class="div-header">
          <div>Empleados</div>
        </div>
        <div style="padding: 10px;">
        <div class="div-btn-new">
            <button class="button-new">
                Nuevo
            </button>
        </div>
        <div>
            <div class="div-container">
                <div class="div-content-input">
                    <div class="input-group">
                        <div class="divEmpleado">
                            <label>Empleado:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="divDatos">
                            <select id="empleadoSelect" [(ngModel)]="empleadoSeleccionado" class="selectEmpleado" (change)="onSelect()">
                                <option [value]=0 disabled selected>Elige un empleado...</option>
                                <option *ngFor="let empleado of empleados.result" [value]="empleado.num_empleado">{{empleado.num_empleado}} - {{empleado.nombre_empleado}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="div-content-mes">
                    <div class="input-group">
                        <div class="divLabelMes">
                            <label>Mes:&nbsp;&nbsp;&nbsp;</label>
                        </div>
                        <div class="divMes">
                            <select [(ngModel)]="mesSeleccionado" (change)="onSelect()">
                                <option [value]=0 disabled selected>Elige un mes...</option>
                                <option *ngFor="let mes of resulMeses.result" [value]="mes.mes_id">{{mes.mes_nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="sueldo-container" *ngIf="mostrarSueldo">
                    <div class="columns-container-sueldo">
                        <div class="column">
                            <div class="row">Concepto</div>
                            <hr>
                            <div class="row">Sueldo Bruto</div>
                            <div class="row">Adicional Entrega</div>
                            <div class="row">Bono</div>
                            <div class="row">ISR</div>
                            <div class="row">Vale Despensa</div>
                            <div class="row total-row">Total Sueldo</div>
                        </div>
                        <div class="column">
                            <div class="rowMonto align-right">Monto</div>
                            <hr>
                            <div class="rowMonto align-right"><label>{{ sueldoDesglosado.sueldo_base }}</label></div>
                            <div class="rowMonto align-right">{{ sueldoDesglosado.adicional_entrega }}</div>
                            <div class="rowMonto align-right">{{ sueldoDesglosado.bono }}</div>
                            <div class="rowMonto align-right">{{ sueldoDesglosado.isr }}</div>
                            <div class="rowMonto align-right">{{ sueldoDesglosado.vale_despensa }}</div>
                            <div class="rowMonto total-row align-right">{{ sueldoDesglosado.total_sueldo }}</div>
                        </div>
                      </div>                  
                </div>
            </div>                      
        </div>
        </div>
    </div>
    <app-spinner *ngIf="!mostrarPantalla || mostrarSpinner"></app-spinner>
</div> 