.center-span {
    display: flex;
    flex-direction: row; /* Asegura que el contenido esté en una fila */
    justify-content: center; /* Alineación horizontal centrada */
    align-items: center; /* Alineación vertical centrada */
    flex-grow: 1; /* Permite que el contenido expanda el espacio disponible */
}




  .card-screen-container {
    background-color: antiquewhite;
    display: flex;
    align-items: center; /* Centrar verticalmente en el centro */
    justify-content: center; /* Centrar horizontalmente en el centro */
    height: 89.5vh; /* Asegurarse de que el componente ocupe toda la altura de la pantalla */
  }
  
  .card-container {
    display: flex;
    gap: 20px; /* Separación entre las tarjetas */
  }
  
  
/* .card {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .card {
    text-align: center;
    padding: 20px;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Eliminar el borde */
    box-shadow: none; /* Eliminar la sombra */
    transition: transform 0.2s;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-icon {
    position: absolute;
    font-size: 48px;
    color: #007bff;
    z-index: 1;
  }
  
  .card-image {
    width: 100px;
    height: 100px;
    z-index: 0;
  }
  
.card-text {
  font-size: 14px; /* Ajusta el tamaño del texto */
  font-weight: bold; /* Añadir negrita al texto */
  margin-top: 10px;
}

  

  
  

  
.floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #007bff; /* Color azul */
    color: white; /* Color del texto en el botón */
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999; /* Asegúrate de que el botón esté por encima de otros elementos */
  }
  
  .floating-button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
  }
  
  
  
  